<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DICOMHawk - Honeypot DICOM Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='particles.min.js') }}"></script>
</head>
<body>
    <div id="particles-js"></div>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='dicomhawk_logo.png') }}" alt="DICOMHawk Logo" class="logo">
            <h1>Welcome to DICOMHawk</h1>
            <p>The ultimate honeypot DICOM server to track and analyze unauthorized access attempts.</p>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">Home</a>
                    <p>View the status of the DICOMHawk server.</p>
                </li>
                <li>
                    <a href="{{ url_for('logs') }}">Logs</a>
                    <p>Access detailed logs of server interactions and events.</p>
                </li>
                <li>
                    <a href="{{ url_for('simplified_logs_page') }}">Simplified Logs</a>
                    <p>View simplified logs for a quick overview of events.</p>
                </li>
                <li>
                    <a href="{{ url_for('status') }}">Server Status</a>
                    <p>Check the current status and number of active associations.</p>
                </li>
            </ul>
        </nav>
        <footer>
            <p>&copy; 2024 DICOMHawk. All rights reserved.</p>
        </footer>
    </div>
    <script>
        particlesJS.load('particles-js', '{{ url_for('static', filename='particles.json') }}', function() {
            console.log('particles.js loaded - callback');
        });
    </script>
</body>
</html>
