body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1; /* Place behind other elements */
}

.container {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
    margin: 0;
}

#logs-container {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 80vh; /* Set maximum height to 80% of the viewport height */
}

p {
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

header {
    background-color: #000000;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}

header .logo {
    max-width: 200px;
    margin-bottom: 20px;
}

nav {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    font-size: 1.5em;
    color: #007BFF;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #000000;
    padding: 10px;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    nav ul li a {
        font-size: 1.2em;
    }
}
